:root {
  --m3-body-large-font-family: "Roboto", Helvetica;
  --m3-body-large-font-weight: 400;
  --m3-body-large-font-size: 16px;
  --m3-body-large-letter-spacing: 0.5px;
  --m3-body-large-line-height: 24px;
  --m3-body-large-font-style: normal;
  --m3-label-small-font-family: "Roboto", Helvetica;
  --m3-label-small-font-weight: 500;
  --m3-label-small-font-size: 11px;
  --m3-label-small-letter-spacing: 0.5px;
  --m3-label-small-line-height: 16px;
  --m3-label-small-font-style: normal;
}
